<!-- hero -->
<section id="hero">
    <div>
        <div>
            <div id="one-liner">
                <div class="buy-local-text valign-text-middle">Buy Local.<br>Support Small Businesses.</div>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
<section class="light-green-container">
    <div class="container" id="dark-green-container">
        <div class="row cta-items">
            <p class="col"><span id="cta-big-bold">Discover fresh food locally sourced by your neighborhood farmers and independent businesses!</span><br>Have a small business you want to promote? Already a customer and want to leave a review? <br>Create an account or sign in.</p>

            <div id="button-container">
                <a class="col-6" id="login-button" href="/login"><button>Login</button></a>
                <a class="col-6" id="sign-up-button" href="/sign-up"><button>Sign Up</button></a>
            </div>

        </div>
    </div>
</section>

<!-- Featured Vendor #1 (Left) -->
<section id="light-grey-container">
    <div class="container">
        <div class="row feat-ven">
                <div class="col-md-auto logo-container">
                    <img class="feat-ven-photo" src="/images/fresh-eggs.png" alt="Mama Bella Fresh Eggs Logo">
                </div>
                <p class="col feat-ven-description-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio sapiente ut officia neque voluptatibus fuga voluptatem ipsam, unde dolorum id fugiat asperiores quasi quae repellat ipsum eius cupiditate tempore doloremque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, necessitatibus. Natus repellat ut at incidunt voluptates? Beatae nesciunt impedit reiciendis, eos quaerat officiis dolorum deleniti earum mollitia fugit labore ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquam quisquam voluptatibus iure laborum accusantium quo, mollitia aperiam eligendi est consectetur quam nostrum possimus, rerum placeat dolor vitae aliquid delectus.</p>
        </div>
    </div>
</section>

<!-- Featured Vendor #2 (Right) -->
<section id="dark-grey-container">
    <div class="container">
        <div class="row feat-ven" id="feat-ven-reverse">
                <p class="col feat-ven-description-right">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio sapiente ut officia neque voluptatibus fuga voluptatem ipsam, unde dolorum id fugiat asperiores quasi quae repellat ipsum eius cupiditate tempore doloremque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, necessitatibus. Natus repellat ut at incidunt voluptates? Beatae nesciunt impedit reiciendis, eos quaerat officiis dolorum deleniti earum mollitia fugit labore ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquam quisquam voluptatibus iure laborum accusantium quo, mollitia aperiam eligendi est consectetur quam nostrum possimus, rerum placeat dolor vitae aliquid delectus.</p>
                <div class="col-md-auto logo-container">
                    <img class="feat-ven-photo" src="/images/delicatessen.png" alt="Deli Shop Delicatessen Logo">
                </div>
            </div>
    </div>
</section>

<!-- Featured Vendor #3 (Left) -->
<section id="light-grey-container">
    <div class="container">
        <div class="row feat-ven">
                <div class="col-md-auto logo-container">
                    <img class="feat-ven-photo" src="/images/fresh-juice.png" alt="Fresh Mango Juice Company Logo">
                </div>
                <p class="col feat-ven-description-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio sapiente ut officia neque voluptatibus fuga voluptatem ipsam, unde dolorum id fugiat asperiores quasi quae repellat ipsum eius cupiditate tempore doloremque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, necessitatibus. Natus repellat ut at incidunt voluptates? Beatae nesciunt impedit reiciendis, eos quaerat officiis dolorum deleniti earum mollitia fugit labore ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aliquam quisquam voluptatibus iure laborum accusantium quo, mollitia aperiam eligendi est consectetur quam nostrum possimus, rerum placeat dolor vitae aliquid delectus.</p>
        </div>
    </div>
</section>

<!-- Featured Products Section -->
<section class="large-light-green-container">
        <div class="container">
            <h2>FEATURED PRODUCTS</h2>
            <div class="row" id="feat-prod-circles">
                <div class="col-4 circle-images">
                    <img src="/images/carrots.jpg" alt="fresh carrots">
                </div>
                <div class="col-4 circle-images">
                    <img src="/images/meats.jpg" alt="packaged meats">
                </div>
                <div class="col-4 circle-images">
                    <img src="/images/eggs.jpg" alt="fresh egg basket">
                </div>
            </div>
        </div>
</section>

