<!-- INDIVIDUAL STORE Template -->
<section class="large-light-green-container">
    <div class="container">
        <div class="row">
            <div class="col store-info">
                <img class="description store-img" src="/images/black-square.jpeg" alt="">
                <p class="description">Store Name:</p>
                <p class="description">Categories:</p>
                <a class="description view-store-button" href="#"><button>View Store</button></a>
            </div>
        </div>
    </div>
</section>