<section class="login large-light-green-container">
    <div class="container">
        <form class="signup-form auth-form">
             <h3>New user? Create an account:</h3>
             <div class="form-group">
                <label for="username-signup">Username</label>
                <input type="text" class="form-control" id="username-signup" />
             </div>
             <div class="form-group">
                <label for="email-signup">Email Address</label>
                <input type="text" class="form-control" id="email-signup" />
             </div>
             <div class="form-group">
                <label for="password-signup">Password</label>
                <input type="password" class="form-control" id="password-signup" />
             </div>
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label for="is-vendor-signup">Check box if signing up as a vendor</label>
                    <div id="sign-up-checkbox">
                        <input type="checkbox" id="is-vendor-signup" name="is-vendor-signup">
                    </div>
                </div>
             </div>
             <div class="form-group">
                <button type="submit" class="btn auth-btn mb-2 btn-dark">SIGN UP</button>
             </div>
        </form>
    </div>


    {{!-- <form class="signup-form auth-form">
        <h3>New user? Create an account:</h3>
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" />
        </div>
         <div>
            <label for="email-signup">Email Address</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <label for="is-vendor-signup">Check box if signing up as a vendor</label>

            <input type="checkbox" id="is-vendor-signup" name="is-vendor-signup">
        </div>
        <div>
            <button type="submit" class="btn auth-btn">SIGN UP</button>
        </div>
    </form> --}}
</section>

<script src="/javascript/signup.js"></script>